*{
	margin: 5px;
	padding: 5px;
}

body {
	padding-left: 0em;
	font-family: Georgia, "Times New Roman",
		Times, serif;
	color: black;
	background-color:cyan 
	}
	ul.navbar {		
		postion:absolute;
		top:2em;
		left:1em;
		width:9em;
}

#izquierda{
	background:red;
	width: 100%;
}

#derecha{
	background: blue;
	width: 100%;
	float: none;
}

#Pant-div{
	display: flex;
}

.table, th, td {
	border-collapse: collapse;
	border-radius: 10px;
	background-color: white;
  
}

header h1{
	background: blue;
	height: 200 px;
	width: 100%;
	text-align: center;
	line-height: 200 px;
	color: white;
	font-size: 50px;
}

p {
font-size: 20px;
text-align: justify;
}

section { 
  display: block;
}
	
#barra_nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#li_bar {
  float: left;
}

#li_bar a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#li_bar a:hover {
  background-color: #111;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

figure{
margin: 0;
display: inline-block;
border: 1px solid blue;
position: relative;
}

figcaption{
display: none;
background: none;
position: absolute;
bottom: 0px;
width: 100%;
padding: 0%;
}

figure:hover figcaption{
display: flow-root;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: right;
  width: 18%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#AAtable{
border-style: none;
width: 100%;
background-color: none;
text-align: center;
}

#barra_info {
  background: #3399ff;
  padding: 20px;
}

#li_info {
  background: #cce5ff;
  color: darblue;
  margin: 5px;
  text-align: left;
}

#barra_clas {
  background: #3399ff;
  padding: 20px;
}

#li_clas{
  background: orange;
  color: black;
  margin: 5px;
  text-align: left;
}

#barra_social {
  background: #3399ff;
  padding: 20px;
}

#li_social{
  background: salmon;
  color: black;
  margin: 5px;
  text-align: left;
}


#barra_estu {
  background: #3399ff;
  padding: 20px;
}

#li_estu{
  background: salmon;
  color: black;
  margin: 5px;
  text-align: left;
}
